html, body, h1, p{
	margin: 0;
}

html, body{
	box-sizing: border-box;
}

body{
	color: white;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #0A0C1C;
}

main{
	display: flex;
	border-radius: 0.5rem;
	background-color: #1B1937;
}

main article{
	padding: 4rem;
}

.title{
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	font-family: Inter;
}

.title span{
	color: #AB5CDB;
}

.description{
	opacity: 0.65;
	font-size: 15px;
	margin-top: 2rem;
	font-weight: 400;
	line-height: 25px;
	font-family: Inter;
	margin-bottom: 4rem;
}

.stat{
	margin-right: 4rem;
	display: inline-block;
}

.stat h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	font-family: Inter;
}

.stat p{
	opacity: 0.5;
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 1px;
	font-family: Lexend Deca;
	text-transform: uppercase;
}

main .image-placeholder{
	position: relative;
	filter: saturate(2.5);
}

main .image-placeholder img{
	opacity: 0.4;
	height: 100%;
	border-radius: 0 0.5rem 0.5rem 0;
}

main .image-placeholder:before{
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    right: -5px;
    opacity: 0.25;
    position: absolute;
    background-color: hsl(277, 88%, 52%);
    border-radius: 0 0.5rem 0.5rem 0;
}

@media (min-width: 1110px){
	.mobile-break{
		display: none;
	}
}

@media (max-width: 1110px){
	body{
		margin: 20rem 2rem;
	}
	main{
		width: 100%;
		flex-direction: column;
	}
	.title{
		font-size: 28px;
		line-height: 32px;
	}
	.title, .description{
		text-align: center;
	}
	.description{
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}
	.desktop-break{
		display: none;
	}
	.stat{
		width: 100%;
		display: flex;
		margin-top: 2rem;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	main .image-placeholder{
		order: -1;
		margin-bottom: 2rem;
	}
	main .image-placeholder img{
		width: 100%;
		border-radius: 0.5rem 0.5rem 0 0;
	}
	main .image-placeholder:before{
	    right: 0;
	    bottom: 4px;
	    border-radius: 0.5rem 0.5rem 0 0;
	}
}